In [114]:
def multiply(num1, num2):
    
    num1_ = [(ord(i)-ord('0')) for i in num1[::-1]]
    num2_ = [(ord(i)-ord('0')) for i in num2[::-1]]
    num3_ = [0] * (len(num1_)+len(num2_))
    
    for i, digit1 in enumerate(num1_):
        for j, digit2 in enumerate(num2_):      
            num3_[i+j] += digit1*digit2

    carry = 0
    for i in range(len(num3_)):
        num3_[i] , carry = (num3_[i]+carry) % 10 , (num3_[i]+carry) // 10 
    
    
    
    if num3_[-1] == 0: 
        num3_.pop()
    if sum(num3_)==0: 
        num3_ = [0]
        
        
    num3_ = num3_[::-1]
    
    
    return ''.join([str(i) for i in num3_])

In [115]:
num1 ,  num2 = '9133' , '0'
multiply(num1, num2)

'0'

In [117]:
num1 ,  num2 = '123' , '456'
multiply(num1, num2)

'56088'

In [11]:
num1_ = [int(i)*10**p for i,p in zip(num1, reversed(range(len(num1))))]
num1_

[100, 20, 3]

In [8]:
for i in reversed(range(3)):
    print(i)

2
1
0

In [13]:
ord('3') - ord('0')

3

In [22]:
[None]*3

[None, None, None]

In [58]:
lst = [1,2,3,4]
lst.pop()
lst

[1, 2, 3]

In [ ]:
''.join([str(i) for i in num3_])